#chooser-section {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chooser-heading {
    margin-bottom: 2rem;
}

.chooser-img {
    height: 300px;
    border-radius: 50%;
}

.driver-section, .randomizer-section {
    padding: 1rem;
    margin-right: 3rem;
}

.driver-section:hover, .randomizer-section:hover {
    background: #e6e6e6;
    cursor: pointer;
}
