.rando-group-header {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.drag-drop-text {
  margin-bottom: 1rem;
  color: grey;
}

.draggable-container {
  line-height: 1.5;
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  background-color: #ffd000;
  width: fit-content;
  transform: scale(0.75);
}

.draggable.dragging > button {
  display: none;
}