* {
    margin: 0;
    font-family: 'Marhey', cursive;
    font-size: xx-large;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

#root {
    position: relative;

    #giraffe-logo {
        transform: rotate(-10deg);
        opacity: 7.5%;
        position: fixed;
        top: 5vh;
        left: 15vw;
        z-index: -1;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

